<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<% if current_user && current_user.author_of?(@question) %>
  <p><%= link_to 'Edit question', edit_question_path(@question) %></p>
  <p><%= link_to 'Delete question', @question, method: :delete %></p>
<% end %>

<% @question.answers.each do |answer| %>
  <p><%= answer.body %></p>

  <% if current_user && current_user.author_of?(answer) %>
    <p><%= link_to 'Edit answer', edit_answer_path(answer) %></p>
    <p><%= link_to 'Delete answer', answer, method: :delete %></p>
  <% end %>
<% end %>

<p><%= link_to 'To answer', new_question_answer_path(@question) %></p>