<div class="question">
  <h1 class="question_title"><%= @question.title %></h1>
  <p class="question_body"><%= @question.body %></p>

  <% if current_user && current_user.author_of?(@question) %>
    <%= form_for @question, remote: true, html: { style: "display: none" } do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :body %>
      <%= f.submit 'Update' %>
    <% end %>
    <p><%= link_to 'Edit question', '#', class: 'edit_question_link' %></p>
  <% end %>
</div>

<div class="qustion-errors"></div>

<div class="answers">
  <%= render @question.answers %>
</div>

<% if current_user %>
  <div class="answer-errors"></div>
  <h2>New answer</h2>

  <%= form_for [@question, Answer.new], remote: true, format: :json do |f| %>
    <%= f.label :body, 'Your answer' %>
    <%= f.text_area :body, id: 'new_answer_body' %>
    <%= f.submit 'Create' %>
  <% end %>
<% end %>
