<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<% if current_user && current_user.author_of?(@question) %>
  <p><%= link_to 'Edit question', edit_question_path(@question) %></p>
  <p><%= link_to 'Delete question', @question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<div class="answers">
  <%= render @question.answers %>
</div>

<% if current_user %>
  <div class="answer-errors"></div>
  <h2>New answer</h2>

  <%= form_for [@question, Answer.new], remote: true, format: :json do |f| %>
    <%= f.label :body, 'Your answer' %>
    <%= f.text_area :body, id: 'new_answer_body' %>
    <%= f.submit 'Create' %>
  <% end %>
<% end %>
